<!-- store/templates/store/add_store_menu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Add Store Menu
        <style>
            title {
                background-color: #FFEDE9;
                color: #CC4D28;
                padding: 10px;
                border-radius: 10px;
                display: inline-block;
            }
        </style>
    </title>
</head>
<body style="background-color: #FFEDE9; text-align: center; padding: 20px;">

    <h1 style="background-color: #FFEDE9; color: #CC4D28; padding: 10px; border-radius: 10px; display: inline-block;">Add Store Menu</h1>

    <form method="post" action="{% url 'add_store_menu' %}" style="margin-top: 20px;">
        {% csrf_token %}
        <label for="store_name">가게 이름:</label>
        <input type="text" id="store_name" name="store_name" required><br>

        <label for="menu_name">메뉴 이름:</label>
        <input type="text" id="menu_name" name="menu_name" required><br>

        <label for="quantity">수량:</label>
        <input type="number" id="quantity" name="quantity" required><br>

        <label for="price" style="margin-left: 10px;">가격: </label>
        <input type="number" id="price" name="price" required>
        <span style="margin-left: 5px;">원</span><br>

        <p style="margin-top: 20px;">도시락에 들어갈 메뉴를 적어주세요!</p>
        <p style="margin-top: 10px;">다음은 메인화면에 표시될 태그 세개입니다.</p>

        <label for="detail_name1">tag1 #</label>
        <input type="text" id="detail_name1" name="detail_name1" required><br>

        <label for="detail_name2">tag2 #</label>
        <input type="text" id="detail_name2" name="detail_name2" required><br>

        <label for="detail_name3">tag3 #</label>
        <input type="text" id="detail_name3" name="detail_name3" required><br>

        <input type="submit" value="등록" style="background-color: #FF9B63; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; margin-top: 10px;">
    </form>

</body>
</html>